@import url(normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,*::after,*::before{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a{
	color: inherit;
	text-decoration: none;
}
button{
	background: transparent;
	border: none;
	cursor: pointer;
}
h1,h2,h3,h4,h5,h6{
	font-size: inherit;
	font-weight: inherit;
	color: var(--dark-brown);
}
li{
 list-style-type: none;
}
p,span{
	color: var(--light-brown);
	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
	
}
body{
	width: 100%;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	
}
.container{
	max-width: 1130px;
	padding: 0px 10px;
	margin: 0 auto;
}
:root{
	--dark-brown: #2F281E;
	--light-brown:#544837;
	--white:#ffffff;
	--orange:#FF9900;
	--blue:#173A56;
}
.none{
	display: none;
}
/* Header start */
.header__wrapper,.header__logo,
.header__nav,.header__user{
	display: flex;
	align-items: center;
}
.header__wrapper {
	padding: 35px 0px 17px;
	gap: 55px;
}
.header__logo {
	flex-grow: 1;
	gap: 11px;
}
.logo__icon {
	width: 30px;
	height: 30px;
}
.logo__title {
	width: 143px;
	height: 29px;
}
.header__nav {
	gap: 28px;
}
.nav__link {
	font-size: 14px;
	font-weight: 400;
	line-height: 28px;
}
.header__user {
	gap: 17px;
}
.user__sign-in,.user__sign-up{
	padding: 11px 23px 11px 25px;
}
.user__sign-in {
 color: var(--blue);
 border: 1px solid rgba(188, 208, 229, 1);
 font-weight: 600;
}
.user__sign-up {
	background-color: var(--orange);
  color: var(--white);
}

/* Header End */

/* Hero section start */
.hero__wrapper {
	display: flex;
	align-items: center;
	padding: 56px 0px 110px;
}
.hero__title {
	margin-bottom: 30px;
	font-size: 44px;
	font-weight: 700;
	line-height: 54px;
}
.hero__desc {
	margin-bottom:45px ;
	max-width: 414px;
}
.hero__links {
	display: flex;
	gap: 56px;
}
.btn-get-start {
	padding: 15px 40px;
	border-radius: 4px;
	color: var(--white);
	background-color: var(--orange);
	font-weight: 700;
}
.btn-watch-video {
	color: var(--orange);
	font-weight: 600;
	text-decoration-line: underline;
	position: relative;
}
.btn-watch-video::before {
	content: url(img/Triangle.svg);
	position: absolute;
	width: 17px;
	height: 20px;
	left: -26px;
	top: 50%;
	transform: translateY(-50%);
}
.hero__img {
	max-width: 605px;
	max-height:500px ;
}
.hero__img img {
	width: 100%;
	height: auto;
}
/* Hero section End */

/* Features section start */
.features{
	padding-bottom: 90px;
}
.features__wrapper {
display: flex;
flex-direction: column;

}
.features__title {
	text-align: center;
	color: var(--dark-brown);
	font-size: 36px;
	font-weight: 700;
	line-height: 54px;
	margin-bottom: 54px;

}
.features__columns {
	display: flex;
	justify-content: space-between;
	gap:  20px;

}
.features__column {
max-width: 240px;
	
}
.column__img {
	width: 50px;
	height: 50px;
	margin-bottom: 30px;
}
.column__title {
	color: var(--dark-brown);
	font-size: 22px;
	font-weight: 600;
	line-height: 33px;
	margin-bottom: 13px;
}
.column__desc {
}
.features__btn{
	background-color: var(--orange);
	color: var(--white);
	text-transform: uppercase;
	padding: 15px 34px;
	margin: 34px auto 0 auto;

}
/* Features section end */

/* Section Design start */

.section-design {
	margin:120px 0px 100px ;
}
.container {
}
.design__wrapper {
	display: flex;
	gap: 104px;
	align-items: center;
}
.section-info {
	max-width: 486px;
}
.section-suptitle {
	margin-bottom: 3px;
	line-height: normal;
}
.section-title_big {
	margin-bottom: 22px;
	font-size: 36px;
	font-weight: 700;
	line-height: normal;
}
.section-text {
  margin-bottom: 25px;
}
.section-title-small {
font-weight: 700;
line-height: 26px;
margin-bottom: 12px;
}
.section-img {
	max-width: 520px;
	height: auto;
}
.design__img{
	width: 100%;
}
/* Section Design end */

/* section managers */
.managers__wrapper {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	align-items: center;
}
.managers__img {
	max-width: 535px;
}
.managers__img img {
	max-width: 100%;
}
.section-info {
	max-width: 486px;
}
.managers__benefits {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.benefit {
	display: flex;
	gap:30px ;
	align-items: start;
	align-items: center;
}
.benefit__text {
	margin-bottom: 0;
}
/* section managers end */

/* Footer section start */
.footer {
	padding-bottom: 83px;
}
.footer__wrapper {
	border-top: 1px solid rgba(188, 208, 229, 0.50);
	display: flex;
	justify-content: space-between;
	min-height: 100%;
	min-height: 308px;
	padding-top: 105px;
}
.footer__list {
	align-self:flex-end ;
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.footer__form {
	width: 325px;
	align-self:flex-end ;
	display: flex;
	flex-direction: column;
}
.form__input {
	height: 48px;
	border: 1px solid #BCD0E5;
	padding-left: 5px;
	padding-right: 5px;
}
.form__btn {
	margin-top:21px ;
	display: block;
	align-self: flex-start;
	padding: 8px 15px;
	background-color: var(--orange);
	color: var(--white);
	font-weight: 700;
	line-height: normal;
}

/* Footer section End */

/* Nav Icon */
.nav-icon-btn {
	--time: 0.1s;
	--width: 40px;
	--height: 30px;
	--line-height: 1px;
    --line-margin: 2;
	--color: #000000;

	height: var(--height);
	width: var(--width);
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-icon {
	position: relative;
	width: var(--width);
	height: var(--line-height);
	background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
	content: '';
	display: block;

	position: absolute;
	left: 0;

	width: var(--width);
	height: var(--line-height);

	background-color: var(--color);
	transition: transform var(--time) ease-in,
		top var(--time) linear var(--time);
}

.nav-icon::before {
	top: calc(var(--line-height) * -8);
}

.nav-icon::after {
	top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
	background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
	top: 0;
	transition: top var(--time) linear,
		transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
	transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
	transform: rotate(-45deg);
}
.header-nav__btn{
	display: none;
}
.no-scroll{
	overflow-y: hidden;
}
/* media  */
@media screen and (max-width: 999px) {
	/* 1. Section Header media */
	.header__wrapper{
		gap: 20px;
		flex-wrap: wrap;
	}
  .header__nav {
    display: none;

  }
	.header-mobile{
		position: absolute;
		z-index: 10;
		background-color: var(--white);
		width: 100%;
		height: 100vh;
		
	}
	.header-nav__btn{
		display: initial;
		order: 1;
	}
	.header-mobile .header__user{
		display: none;
	}
	.header-mobile .header__nav{
		display: initial;
	}
	.header-mobile .header-nav__btn{
		position: absolute;
		top: 20px;
		right: 20px;
	}
	.header-mobile .header__wrapper{
		flex-direction: column;
	}
	.header-mobile .nav__link{
		font-size: 20px;
	}

/* 2. Section Hero media */

	.hero__wrapper{
		display: block;
		text-align: center;
	}
	.hero__desc{
		max-width: 70%;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	.hero__img{
		display: none;
	}
	.hero__links{
		justify-content: center;
		gap: 40px;
	}

	/* 3. Section Features media */
.features__columns{
	flex-wrap:wrap ;
	justify-content: space-around;
	align-self: center;
}
.features__column{
	max-width: 400px;
	text-align: center;
}
	/* 3.  3 Section identic media */
	.section-img , .managers__img{
		display: none;
	}
	.design__wrapper{
		display: block;
	}
	.section-info{
		margin:  0 auto;
	}
	.section-design{
		margin: 70px 0px;
	}

}

@media screen and (max-width: 530px) {
	/* 1. Section Header media */

	.header__user{
		display: none;
	}

	/* 2. Section Hero media */

	.hero__wrapper{
		padding:  20px 0px;
	}
	.hero__links{
		flex-direction: column;
		gap: 25px;
	}
	.hero__title{
		font-size: 24px;
		line-height: normal;
		margin:0 0 20px 0;
	}
	.hero__desc{
		font-size: 14px;
		max-width: 100%;
		
	}
	.btn-watch-video{
		margin: 0 auto;
	}
	.btn-get-start{
		margin: 10px 25px;
	}

/* 3. Section Features media */
.features__title{
	font-size: 24px;
	line-height: normal;
	margin-bottom: 20px;
}
 .column__desc{
 font-size: 14px;
 }
 .column__title{
	font-size: 18px;
 }
.features__btn{
	width: 100%;
	padding: 10px 15px;
}

/* 3.  3 Section identic media */
.section-design{
	margin: 40px 0px ;
	text-align: center;
}

.section-title_big{
	font-size: 24px;
	text-align: center;
}
.section-title-small{
 font-size: 18px;
 
}
.section-text{
	font-size: 14px;
	margin-bottom: 20px;
}
.benefit{
	gap: 10px;
}
}
