*{
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 0 auto;
    width: 1400px;
}

.header {
    display: flex;
    align-items: center;
    height: 78px;
    margin-top: 20px;
}

.header-nav {
    display: flex;
    font-size: 14px;
    line-height: 28px;
    align-items: center;
    margin: 0 0 0 320px;
    color: #2F281E;
}

img[alt="logo"]{
    width: 31.168px;
    height: 32px;
    margin:0 11px 0 0;
}

img[alt="Productly"]{
    width: 143.117px;
    height: 28.973px;
    margin-top: 4px;
}

button {
    height: 46px;
}

.sign {
    height:46px ;
    margin: 0 0 0 29px;
    font-size: 16px;
    font-weight: 600;
}

.In{
    width: 102px;
    color:#173A56 ;
}

.Up{
    width: 110px;
    background-color: #FF9900;
    border: none;
    border-radius: 4px;
    color: white;
}



.logo {
    display: flex;
    align-items: center;
}

.tab{
    margin:0 10px 0 0;
}
img[alt="people"]{
    width: 605px;
    height: 496px;
}
.design_thinking{
    display: flex;
}
 .design_thinking > aside{
   width: 518px;
}
h1{
    font-size: 44px;
    color: #2F281E;
    font-weight: 700;
}
p{
    color:#544837 ;
    font-size: 18px;
    width: 458px;
}
.get_start{
    width: 175px;
    background-color: #F90;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    margin-right: 30px;
}
.design_thinking  a{
    font-size: 16px;
    font-weight: 600;
    color: #F90;
    display: flex;
    height: 53px;
    align-items: center;

}
.play{
    margin-right: 8px;
}
.video{
    display: flex;
    align-items: center;
}
section{
    margin-top:  30px; 
    

}


