.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr  ;
    height: 400px;
    width: 400px;
    background-color: antiquewhite;
}
.container div{
border: solid black;

}