*,*::after,*::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
body{
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 700;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
	color: inherit;
}
:root{
	--dark-green:#214E41;
	--white:#FFFFFF;
	--light-green:#43806C;
    --black: #222;
}
button{
	border: none;
	background-color: var(--light-green);
	color: var(--white);
	cursor: pointer;
}
/* Header start */

.header__container{
	max-width: 1352px;
	padding: 0px 10px;
	margin: 0 auto;
}
#header{
padding: 20px 0px 30px;

}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
}
.header__nav {
	display: flex;
	gap: 50px;
}
.header__nav li a {
	color: var(--dark-green);
	line-height: 20px; 
}
.header__user-int {
	display: flex;
	gap: 30px;
	align-items: center;
	
}
.header__btn {
    font-style: normal;
    line-height: 20px;
    padding: 10px 15px;
    border-radius: 6px;
}
.header__login{
	display: flex;
	align-items: center;
}
.header__login .header__lang {
font-size: 13px;
line-height: 20px;

}
.header__lang {
	text-transform: uppercase;
}



/* Hero section */

.hero {
    background-image: url(./img/oameniganditori.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 90px) ;

}
.wrapper {
    max-width: 1220px;
    padding: 0px 10px;
    margin: 0px auto;
    position: relative;
    height: 100%;
    
}
.hero__info_descript {
    width: 660px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
    
}
.hero__info_descript h1{
    font-size: 36px;
    line-height: 46px;
    font-family: 'Roboto', sans-serif;
    color: var(--dark-green);
    width: 516px;


}
.hero__info_descript p{
    font-size: 16px;
    line-height: 24px; /* 150% */
    color: var(--dark-green);
    margin-top: 40px;
    margin-bottom: 16px;
    

}
.hero__info_descript input{
    padding: 20px;
    border-radius: 6px 0px 0px 6px;
    background: #FFF;
    width: 280px;
    height: 60px;
    border: none;
    color: var(--black);
}
input ::placeholder{color: var(--black);}
.hero__input::placeholder{
    color: var(--black);
}
.hero__info_descript button{
    width: 123px;
    height: 60px;
    border-radius: 0px 6px 6px 0px; 
}

.hero__form{
    display: flex;
    
}
